<h2>Update Information</h2>
<%= render "form" %>

<br>
<br>
<% if current_user.admin %>
  <%= form_for @user do |f| %>
  <%= f.check_box("admin", {}, true) %>
  <%= f.submit 'Make Admin', class:'btn btn-default' %>
  <% end %>
<% end %>

<br>
<%= link_to "Delete Account", user_path(@user), :data => {:confirm => "Are you sure?", :method => "delete"}, class: "btn btn-default" %>
