<h2>Welcome <%= @user.username %></h2>
<h4>Current email: <%= @user.email %></h4>
<%= link_to "Edit Information", edit_user_path(@user) %>
<br>
<br>
<h4>All your questions:</h4>

<% @user.posts.each do |post| %>
<%= link_to post.title, post_path(post) %>
<% end %>
<br><br>
<% if current_user.admin %>
  <h4>Administrator Links</h4>
  <%= link_to "Admin Page", users_path %><br>
<% end %>
