<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, rows: '10', class: "form-control" %>
  </div>
  <%= f.submit %>
<% end %>
