<h1>Posts</h1>

<% @posts.each do |post| %>
  <%= link_to post.title, post_path(post) %><br>
<% end %>

<br><br>

<%= link_to "New Post", new_post_path %>

<br><br>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", session_path("current"), method: "delete" %>
<% else %>
  <%= link_to "Sign Up", new_user_path %>
  <%= link_to "Login", new_session_path %>
<% end %>
