<h2><%= @post.votes %><%= link_to content_tag(:span, "", class:"glyphicon glyphicon-arrow-up"), edit_post_path(@post, upvote:true) %>   <%= @post.title %></h2>
<p>Asked by <%= link_to @post.user.username, user_path(@post.user) %>
</p>
<br>

<%= @post.content %><br>

<hr>
<% if @post.comments.where(best: true).count > 0 %>
  <h3>Best Answer:</h3>
  <%= @post.comments.where(best: true).first.content %>
<% end %>

<h3>All Answers</h3>
<% @post.comments.each do |comment| %>
  <%= comment.content %>
  <br>answered by <span class="user_answer"><%= link_to comment.user.username, user_path(comment.user) %></span>
  <br>
  <br>
  <% if current_user == @post.user && @post.comments.where(best: true).count == 0 %>
    <%= link_to "Best Answer", post_comment_path(@post, comment, best: true), method: :patch %>
    <br>
    <br>
  <% end %>
<% end %>

<br>
<br>

<% if current_user %>
<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.label "Your Answer" %>
    <br>
    <%= f.text_area :content, rows: '10', class: "form-control" %>
    <br>
  </div>
  <%= f.submit 'Add Answer', class:'btn btn-primary' %>
  <% end %>
<% else %>
  <p>You must be logged in to respond to this question.</p><br>
<% end %>
