<h2><%= @post.votes %><%= link_to content_tag(:span, "", class:"glyphicon glyphicon-arrow-up"), edit_post_path(@post, upvote:true) %>   <%= @post.title %></h2>

<%= @post.content %><br>

<hr>

<h2>Answers</h2>
<% @post.comments.each do |comment| %>
  <%= comment.content %> answered by <span class="user_answer"><%= comment.user.username %></span>
<% end %>

<br>
<br>

<% if current_user %>
<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.label "Your Answer" %>
    <br>
    <%= f.text_area :content, rows: '10', class: "form-control" %>
    <br>
  </div>
  <%= f.submit "Add Answer"%>
  <% end %>
<% else %>
  <p>You must be logged in to respond to this question.</p><br>
  <%= link_to "Sign Up", new_user_path %><br>
  <%= link_to "Log in", new_session_path %>
<% end %>
<br>
<%= link_to "back to posts", posts_path %>
